<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WaiterDuty.2.0</title>
    <%- include('./header') %>
</head>
<body class="bg-orange-500">
    <% daysAbbreviated = ["mon", "tues", "thurs", "fri"] %>
    <p class="w-min min-w-max mx-auto text-center font-semibold text-xl sm:text-2xl md:text-3xl lg:text-4xl mt-4 text-stone-50">Cadets Info</p> 
    <% if(locals.debrief) { %>
        <p class="text-center text-lg text-white underline underline-offset-4 decoration-4 decoration-red-500 font-semibold py-2"><%= locals.debrief %> </p>
    <% } %>  
    <% if(locals.rosterMade) { %> 
        <p class="text-center text-lg text-white font-semibold py-2 basicAnim hover:text-xl"><a href="#roster">Go to Roster -></a></p>
    <% } %> 
    <% if(locals.rosterError) { %>
        <% let days = ["Monday", "Tuesday", "Thursday", "Friday"] %> 
        <% function spanClass(status) {
            if(status == "Covered") {
                return "text-stone-50 hover:text-xl transition-all ease-in-out delay-75 duration-300"
            } else {
                return "text-stone-50 hover:text-xl transition-all ease-in-out delay-75 duration-300 underline underline-offset-4 decoration-4 decoration-orange-600"
            }
        } 
        %> 
        <% for(let i = 0; i < days.length; i++) { %>
            <div>
                <p class="text-center text-2xl font-semibold text-white mt-4"><%= days[i] %>:</p>
                <% results = rosterError[i] %> 
                <p class="text-center text-lg font-semibold text-orange-300">1st Lunch: <span class="<%= spanClass(results[0]) %>"><%= results[0] %></span>,
                     2nd Lunch: <span class="<%= spanClass(results[1]) %>"><%= results[1] %></span>,
                      3rd Lunch: <span class="<%= spanClass(results[2]) %>"><%= results[2] %></span></p>
            </div>
        <% } %>  
    <% } %>  
    <div class="mt-6 w-11/12 relative mx-auto grid grid-cols-6 gap-6">
        <div class="relative col-span-6 lg:col-span-4">
            <div class="w-full boxShadow md:hidden flex-col px-10 py-6">
                <p class="text-xl sm:text-2xl font-semibold mx-auto mb-4 border-b-2 w-min min-w-max">Cadets:</p>
                <% hoverEffect = "cursor-default transition-all duration-500 delay-100 group-hover:font-semibold group-hover:scale-105" %> 
                <% expandRow = "group-hover:py-2 transition-all duration-500 delay-100" %> 
                <% linkHover = "basicAnim cursor-clicker duration-300 delay-75 hover:text-red-500" %> 
                <% if(locals.cadetList && locals.cadetList.length != 0) { %>
                    <% locals.cadetList.forEach((cadet) => {%>
                            <div class="text-center w-full text-base sm:text-xl group mb-6 <%= expandRow %>">
                                <p class="<%= hoverEffect %> text-lg sm:text-2xl break-words"><%= cadet.cadetName %></p>
                                <p><span class="font-semibold">Shifts: </span><%= cadet.shiftAmounts %></p>
                                <p><span class="font-semibold">Monday: </span><%= cadet.parsedLunchTimes[0] %></p>
                                <p><span class="font-semibold">Tuesday: </span><%= cadet.parsedLunchTimes[1] %></p>
                                <p><span class="font-semibold">Thursday: </span><%= cadet.parsedLunchTimes[3] %></p>
                                <p><span class="font-semibold">Friday: </span><%= cadet.parsedLunchTimes[4] %><ph>
                                <p><a class="text-slate-200 text-lg sm:text-2xl <%= linkHover %> " href="/deleteCadet?cadetName=<%= cadet.cadetName %>">Delete</a></p>
                            </div>
                    <% })%> 
                <% } else { %>
                    <div>
                        <p class="text-lg font-semibold text-gray-600">No Cadets...</p>
                    </div>
                <% } %>   
            </div>
            <table class="md:table-auto md:table hidden w-full boxShadow px-10 py-6 border-separate border-spacing-y-2 border-spacing-x-2">
                <thead>
                    <tr class="uppercase text-sm font-bold">
                        <td>Cadet Name:</td>
                        <td>Shifts</td>
                        <td>Monday:</td>
                        <td>Tuesday:</td>
                        <td>Thursday:</td>
                        <td>Friday:</td>
                        <td></td>
            
                    </tr>
                </thead>
                <tbody>
                    <% hoverEffect = "cursor-default transition-all duration-500 delay-100 group-hover:font-semibold group-hover:text-xl" %> 
                    <% expandRow = "group-hover:py-2 transition-all duration-500 delay-100" %> 
                    <% linkHover = "basicAnim cursor-clicker duration-300 delay-75 hover:text-red-500" %> 
                    <% if(locals.cadetList && locals.cadetList.length != 0) { %>
                        <% locals.cadetList.forEach((cadet) => {%>
                                <tr class="text-base group">
                                    <td class="<%= hoverEffect %> text-lg break-words <%= expandRow %> "><%= cadet.cadetName %></th>
                                    <td><%= cadet.shiftAmounts %></td>
                                    <td><%= cadet.parsedLunchTimes[0] %></th>
                                    <td><%= cadet.parsedLunchTimes[1] %></th>
                                    <td><%= cadet.parsedLunchTimes[3] %></th>
                                    <td><%= cadet.parsedLunchTimes[4] %></th>
                                    <td><a class="text-slate-200 font-semibold <%= linkHover %> " href="/deleteCadet?cadetName=<%= cadet.cadetName %>">Delete</a></th>
                                </tr>
                        <% })%> 
                    <% } else { %>
                        <tr>
                            <td class="text-lg font-semibold text-gray-600">No Cadets...</td>
                        </tr>
                    <% } %>   
                </tbody>
            </table>
        </div>
        <div class="relative col-span-6 lg:col-span-2">
            <div class="boxShadow w-full px-12 h-min min-h-max text-center">
                <p class="text-2xl font-semibold pt-4">Add Cadet</p>
                <form class="mt-2 text-lg" action="/addCadet" method="POST">
                    <label class="font-medium text-center text-base text-black">Cadet Name:</label><br>
                    <input placeholder="Kofi B." class="text-center text-black font-semibold border-b-2 outline-none pb-2 w-full" type="text" name="cadetName"><br>
                    <div class="pt-4"></div>
                    <% let days = ["Monday", "Tuesday", "Thursday", "Friday"] %> 
                    <% daysAbbreviated.forEach((data, i) => { %>
                        <label class="font-semibold pr-2"><%= days[i] %> Lunch:</label>
                        <select class="mt-1" name="<%= data %>">
                            <option value=-1 selected>Daily Lunches</option>
                            <option value=1>1st Lunch</option>
                            <option value=2>2nd Lunch</option>
                            <option value=3>3rd Lunch</option>
                            <option value=0>Free Period</option>
                            <option value=5>Can't Make It</option>
                        </select><br>
                    <% }) %> 
                    <input class="cursor-pointer transition-all duration-700 delay-75 text-amber-400 hover:text-orange-400 hover:text-xl text-lg uppercase font-semibold pt-2 pb-4 outline-none" type="submit" value="Click Me">
                </form>
            </div>
            <p class="relative boxShadow hover:scale-105 transition-all delay-200 duration-500 text-amber-400 hover:text-orange-400 mt-4 w-min min-w-max px-4 py-2 text-center font-semibold text-lg cursor-pointer">
                <a href="/clearAll">
                    Clear Cadets and Rosters
                </a>
            </p>
            <p class="relative boxShadow hover:scale-105 transition-all delay-200 duration-500 text-amber-400 hover:text-orange-400 mt-4 w-min min-w-max px-4 py-2 text-center font-semibold text-lg cursor-pointer">
                <a href="/clearCadets">
                    Clear Cadets
                </a>
            </p>
            <p class="relative mb-12 boxShadow hover:scale-105 transition-all delay-200 duration-500 text-amber-400 hover:text-orange-400 mt-4 w-min min-w-max px-4 py-2 text-center font-semibold text-lg cursor-pointer">
                <a href="/clearRoster">
                    Clear Roster
                </a>
            </p>
        </div>
    </div>

    
    <p class="relative mb-12 boxShadow hover:scale-105 transition-all delay-200 duration-500 text-amber-400 hover:text-orange-400 mt-4 w-min min-w-max px-4 py-2 mx-auto text-center font-semibold text-lg cursor-pointer">
        <a href="/roster">
            Make Roster
        </a>
    </p>
    <% if(locals.roster) { %>
        <p class="text-center text-white font-semibold text-5xl mt-24" id="roster">Roster:</p>
        <div class="text-center pb-5">
            <% shiftType = "text-lg font-semibold" %> 
            <% for(let i = 0; i < 5; i++) { %>
                <% let days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday'] %> 
                <div class="boxShadow mt-6 px-6 py-6 w-2/3 mx-auto">
                    <p class="text-2xl underline underline-offset-4 decoration-4 decoration-stone-200 font-semibold text-center"><%= days[i].charAt(0).toUpperCase() + days[i].slice(1) %> Schedule</p>
                    <table class="mx-auto table-auto w-full border-separate ">
                        <% if(locals.roster) { %> 
                            <% data = roster[days[i]] %> 
                            <% function iterateShifts(arr) {
                                let terms = [];
                                terms = arr.map((data) => {
                                    return data.assignedPerson;
                                })
                                return terms.join(", ");
                            } %> 
                            <tr><p class="pt-4 <%= shiftType %> ">Breakfast</p><p><%= iterateShifts(data.breakfast) %></p></tr>
                            <% if(i != 2) { %>
                                <tr><p class="pt-4 <%= shiftType %> ">1st Lunch</p><p><%= iterateShifts(data.lunches.firstLunch) %></p></tr>
                                <tr><p class="pt-4 <%= shiftType %> ">2nd Lunch</p><p><%= iterateShifts(data.lunches.secondLunch) %></p></tr>
                                <tr><p class="pt-4 <%= shiftType %> ">3rd Lunch</p><p><%= iterateShifts(data.lunches.thirdLunch) %></p></tr>
                            <% } else { %>
                                <tr><p class="pt-4 <%= shiftType %> ">Lunch</p><p><%= iterateShifts(data.wednesday) %></p></tr>
                            <% } %>   
                            <tr><p class="pt-4 <%= shiftType %> ">1st Dinner</p><p><%= iterateShifts(data.dinners.firstDinner) %></p></tr>
                            <tr><p class="pt-4 <%= shiftType %> ">2nd Dinner</p><p><%= iterateShifts(data.dinners.secondDinner) %></p></tr>
                        <% } %> 
                    </table>
                </div>
            <% } %>  
        </div>
    <% } %>  
</body>
</html>
