<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WaiterDuty.2.0</title>
    <%- include('./header') %>
</head>
<body class="bg-orange-500">
    <% daysAbbreviated = ["mon", "tues", "thurs", "fri"] %> 
    <% if(locals.debrief) { %>
        <h2 style="text-align: center; margin-bottom: 24px;">Ability to Staff Lunch Periods</h2>
        <% let days = ["Monday", "Tuesday", "Thursday", "Friday"] %> 
        <% for(let i = 0; i < 4; i++) { %>
            <hr style="border-width: 4px; width: 50%;">
            <div style="text-align: center;">
                <h4 style="display: inline-block;"><%= days[i] %> 1st Lunch: <em <% if(debrief[i][0] == true) { %> style="color: #0f0;" <% } %>  ><%= debrief[i][0] %></em></h3>
                <h4 style="display: inline-block; margin-left: 12px;"><%= days[i] %> 2nd Lunch: <em <% if(debrief[i][1] == true) { %> style="color: #0d4;" <% } %>  ><%= debrief[i][1] %></em></h3>
                <h4 style="display: inline-block; margin-left: 12px;"><%= days[i] %> 3rd Lunch: <em <% if(debrief[i][2] == true) { %> style="color: #0d4;" <% } %>  ><%= debrief[i][2] %></em></h3>
            </div>
        <% } %>  
    <% } %>  
    <p class="text-center font-semibold text-5xl mt-4 mb-8 text-stone-50">Cadets Info</p>
    <table class="shadow-2xl shadow-red-600 rounded-xl px-10 py-6 border-separate border-spacing-x-2 bg-white mx-auto table-auto">
        <thead>
            <tr class="uppercase text-sm font-bold">
                <td>Cadet Name:</td>
                <td>Shifts</td>
                <td>Monday:</td>
                <td>Tuesday:</td>
                <td>Thursday:</td>
                <td>Friday:</td>
                <td></td>
    
            </tr>
        </thead>
        <tbody>
            <% hoverEffect = "cursor-default transition-all duration-500 delay-100 group-hover:font-semibold group-hover:text-xl" %> 
            <% expandRow = "group-hover:py-8 transition-all duration-500 delay-100" %> 
            <% linkHover = "transition-all cursor-clicker duration-300 delay-75 hover:text-red-500" %> 
            <% if(locals.cadetList) { %>
                <% locals.cadetList.forEach((cadet) => {%>
                        <tr class="text-lg group">
                            <td class="<%= hoverEffect %> <%= expandRow %> "><%= cadet.cadetName %></th>
                            <td><%= cadet.shiftAmounts %></td>
                            <td><%= cadet.parsedLunchTimes[0] %></th>
                            <td><%= cadet.parsedLunchTimes[1] %></th>
                            <td><%= cadet.parsedLunchTimes[3] %></th>
                            <td><%= cadet.parsedLunchTimes[4] %></th>
                            <td><a class="text-slate-200 font-semibold <%= linkHover %> " href="/deleteCadet?cadetName=<%= cadet.cadetName %>">Delete</a></th>
                        </tr>
                <% })%> 
            <% } %>  
        </tbody>
    </table>
    <div class="bg-white shadow-red-600 shadow-2xl rounded-xl px-12 mt-4 w-min min-w-max mx-auto text-center">
        <p class="text-2xl font-semibold pt-4">Add Cadet</p>
        <form class="mt-2 text-lg" action="/addCadet" method="POST">
            <label class="font-semibold pr-2">Cadet Name:</label><br>
            <input class="border-b-2 outline-none pb-2" type="text" name="cadetName"><br>
            <div class="pt-4"></div>
            <% let days = ["Monday", "Tuesday", "Thursday", "Friday"] %> 
            <% daysAbbreviated.forEach((data, i) => { %>
                <label class="font-semibold pr-2"><%= days[i] %> Lunch:</label>
                <select class="mt-1" name="<%= daysAbbreviated %>">
                    <option selected>Daily Lunches</option>
                    <option value=1>1st Lunch</option>
                    <option value=2>2nd Lunch</option>
                    <option value=3>3rd Lunch</option>
                    <option value=0>Free Period</option>
                    <option value=5>Can't Make It</option>
                </select><br>
            <% }) %> 
            <input type="submit" value="Click Me">
        </form>
    </div>
    <p style="padding-top: 20px; text-align: center;">
        <a href="/roster">
            Make Roster
        </a>
    </p>
    <h1 style="text-align:center; padding-top: 24px;">Roster</h1>
    <div style="text-align:center; padding-top: 12px;">
        
        <% for(let i = 0; i < 5; i++) { %>
            <% let days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday'] %> 
            <h3><%= days[i].charAt(0).toUpperCase() + days[i].slice(1) %> Schedule</h3>
            <table style="margin: 24px auto;">
                <% if(locals.roster) { %> 
                    <% data = roster[days[i]] %> 
                    <% function iterateShifts(arr) {
                        let terms = [];
                        terms = arr.map((data) => {
                            return data.assignedPerson;
                        })
                        return terms.join(", ");
                    } %> 
                    <tr><th>Breakfast</th><td><%= iterateShifts(data.breakfast) %></td></tr>
                    <% if(i != 2) { %>
                        <tr><th>1st Lunch</th><td><%= iterateShifts(data.lunches.firstLunch) %></td></tr>
                        <tr><th>2nd Lunch</th><td><%= iterateShifts(data.lunches.secondLunch) %></td></tr>
                        <tr><th>3rd Lunch</th><td><%= iterateShifts(data.lunches.thirdLunch) %></td></tr>
                    <% } %>  
                    <tr><th>1st Dinner</th><td><%= iterateShifts(data.dinners.firstDinner) %></td></tr>
                    <tr><th>2nd Dinner</th><td><%= iterateShifts(data.dinners.secondDinner) %></td></tr>
                <% } %> 
            </table>
        <% } %>  
    </div>
</body>
</html>
